{% extends 'Basic.html' %} {% block head %}
<title>Customer Management</title>

{% endblock %} {% block body %}
<div class="mx-auto col-sm-8">
  <!-- form user info -->
  <br />
  <br />
  <br />
  <div class="card" style="margin-right: 10%; float:right; width: 65%;">
    <div class="card-header" style="background-color: blue;">
      <h4 class="mb-0" style="color: white;">Update Customer Details</h4>
    </div>
    <div class="card-body">
      <form class="form" method="POST" role="form" autocomplete="off">
        <div class="form-group row">
          <label class="col-lg-6 col-form-label form-control-label"
            >Customer ID</label
          >
          <div class="col-lg-12">
            <input class="form-control" type="text" name="cid" value="" />
          </div>
        </div>
        <h4 style="text-align: center; color: black; font-weight: 100;">or</h4>

        <div class="form-group row">
          <label class="col-lg-4 col-form-label form-control-label">
            SSN ID
          </label>
          <div class="col-lg-12">
            <input class="form-control" type="integer" name="sid" value="" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-4 col-form-label form-control-label"></label>
          <div class="col-lg-12">
            <button
              type="reset"
              class="btn btn-secondary"
              style="background-color: red;"
            >
            <a href="{{ url_for('profile') }}"> Cancel</a>
            </button>
            <button
            type="submit"
            class="btn btn-secondary"
            style="background-color: blue;"
          >
            Submit
          </button>

          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- /form user info -->
</div>
{% endblock %}
